@font-face {
  font-family: "Outfit";
  src: url("fonts/Outfit-Light.ttf");
  font-weight: 100;
}

@font-face {
  font-family: "Outfit";
  src: url("fonts/Outfit-Regular.ttf");
  font-weight: 300;
}

@font-face {
  font-family: "Outfit";
  src: url("fonts/Outfit-SemiBold.ttf");
  font-weight: 400;
}

html {
  width: 100%;
  height: 100%;
}

body {
  margin: 0px;
  padding: 20px 20px 0px 20px;
  height: 100%;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #0d192b;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr auto;
      grid-template-rows: 1fr auto;
  font-family: 'Outfit', sans-serif;
  font-weight: 300;
  font-size: 18px;
}

main {
  place-self: center;
}

footer.attribution {
  font-size: 14px;
  padding: 20px 0px;
  text-align: center;
  color: #afc2dd;
}

footer.attribution a {
  color: #d9e9ff;
  font-weight: 400;
}

footer.attribution a:visited {
  color: #8bacda;
}

footer.attribution a:hover {
  color: #f4f4f4;
}

footer.attribution a:focus {
  color: #ffffff;
}

hr {
  color: #2f415b;
  margin: 15px 0px;
}

@media (min-width: 215px) {
  .noWrap {
    white-space: nowrap;
  }
}

.card {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 15px;
  padding: 20px;
  background-color: #14253d;
  color: white;
  font-weight: 100;
  -webkit-box-shadow: 0px 25px 5px 15px rgba(0, 0, 0, 0.1), 0px 10px 20px 40px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 25px 5px 15px rgba(0, 0, 0, 0.1), 0px 10px 20px 40px rgba(0, 0, 0, 0.1);
}

@media (min-width: 375px) {
  .card {
    width: 335px;
  }
}

.cardImageLink {
  display: inline-block;
  position: relative;
  border-radius: 15px;
}

.cardImageLink:hover::after {
  content: url("images/icon-view.svg");
  border-radius: 15px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: -ms-grid;
  display: grid;
  place-items: center;
  background-color: rgba(0, 255, 247, 0.5);
}

.cardMainImage {
  width: 100%;
  height: auto;
  border-radius: 15px;
}

.cardHeading {
  font-size: 24px;
  font-weight: 400;
}

.cardHeadingLink {
  color: white;
  text-decoration: none;
}

.cardHeadingLink:hover {
  color: #00fff7;
}

.cardDescription {
  font-weight: 100;
  color: #8bacda;
}

.cardData {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cardData div {
  margin-bottom: 5px;
}

@media (min-width: 300px) {
  .cardData {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .cardData div {
    margin-bottom: 0px;
  }
}

.cardData img {
  margin-right: 5px;
}

.cardPrice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #00fff7;
  font-weight: 400;
}

.cardTimeLeft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #8bacda;
}

.cardAuthor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 100;
  color: #8bacda;
  margin-top: 15px;
}

.authorPfp {
  height: auto;
  width: 25px;
  border-radius: 9999px;
  border: 1px solid white;
  margin-right: 15px;
}

.authorName {
  font-weight: 300;
  color: white;
  text-decoration: none;
}

.authorName:hover {
  color: #00fff7;
  cursor: pointer;
}
/*# sourceMappingURL=styles.css.map */